@charset "UTF-8";

/*================================================================================================
                                Definicoes globais para as cores
=================================================================================================*/
:root {

  /* Paleta de cores do site*/

  --base-color: #F6D155;
  --color2: #E0B058;
  --color3: #f2f7cc;
  --color4: #F5A556;
  --contrastant-color: #006E51;
    
}