@charset "UTF-8";



:root {

  --header-footer-zindex: 50;
  --max-zindex: 100;

  /* Paleta de cores do site*/

  --base-color: #F6D155;
  --color2: #E0B058;
  --color3: #fcffe2fa;
  --color4: #F5A556;
  --contrastant-color: #006E51;

}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color3);
}

a {
  cursor: url("../img/select.cur"), auto;
}

p {
  text-indent: 16px;
  line-height: 22px;
}

header {
  margin: 0;
  background-color: var(--color3);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: var(--header-footer-zindex);
  text-align: center;
  color: var(--contrastant-color);
  border-bottom: solid 1px var(--base-color);
}

ul#menu-principal li {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  margin-right: 20px;
  padding: 4px;
  text-decoration: none;
  cursor: url("../img/select.cur"), auto;
}

ul#menu-principal li:hover {
  background-color: var(--base-color);
}

main {
  position: absolute;
  margin: 0;
  background-color: var(--color3);
  width: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  margin: 0;
  width: 100%;
  z-index: var(--header-footer-zindex);
  background-color: var(--color3);
  color: var(--contrastant-color);
  border-top: solid 1px var(--base-color);
  text-align: center;
}

footer p {
  margin: 4px auto 4px auto;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

 
  /* Position the tooltip */
  position: absolute;
  top: -15px;
  left: 20px;
  z-index: 1000;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

