@charset "UTF-8";

/*------------------------------------------------------------------------------------------
                              Variaveis globais
------------------------------------------------------------------------------------------*/
:root {

  --header-zindex: 500;
  --article-zindex: 450;
  --articletail-zindex: 350;
  --footer-zindex: 400;
  --max-zindex: 1000;

  /* Paleta de cores do site*/

  --base-color: #F6D155;
  --color2: #E0B058;
  --color3: #FCFFE2;
  --color4: #F5A556;
  --contrastant-color: #006E51;

  --gradiente-color: #e0e4c5;

}

/*------------------------------------------------------------------------------------------
                                Configuracao global
------------------------------------------------------------------------------------------*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color3);
}

/*------------------------------------------------------------------------------------------
                            Todos os links terao cursor personalizado
------------------------------------------------------------------------------------------*/
a {
  cursor: url("../img/select.cur"), auto;
}

/*------------------------------------------------------------------------------------------
                          Configura o cabecalho das paginas
------------------------------------------------------------------------------------------*/
header {
  margin: 0;
  background-color: var(--color3);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: var(--header-zindex);
  text-align: center;
  color: var(--contrastant-color);
  border-bottom: solid 1px var(--base-color);
}

/*------------------------------------------------------------------------------------------
                             Configura menu principal
------------------------------------------------------------------------------------------*/
ul#menu-principal li {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  margin-right: 20px;
  padding: 4px;
  text-decoration: none;
  cursor: url("../img/select.cur"), auto;
}

ul#menu-principal li:hover {
  background-color: var(--base-color);
}

/*------------------------------------------------------------------------------------------
                          Configura a secao principal das paginas
------------------------------------------------------------------------------------------*/
main {
  position: absolute;
  margin: 0;
  background-color: var(--color3);
  width: 100%;
}

/*------------------------------------------------------------------------------------------
                          Configura os artigos das paginas
------------------------------------------------------------------------------------------*/
article {
  position: relative;
  padding: 16px;
  border-bottom: solid 1px var(--base-color);
  z-index: var(--article-zindex);
  background-image: linear-gradient(var(--color3), var(--gradiente-color));
}

/*------------------------------------------------------------------------------------------
                      Titulos principais das paginas centralizados
------------------------------------------------------------------------------------------*/
article h1 {
  text-align: center;
}

/*------------------------------------------------------------------------------------------
                          Paragrafos justificados e com indentacao
------------------------------------------------------------------------------------------*/
article p {
  text-align: justify;
  text-indent: 16px;
  line-height: 22px;
}

/*------------------------------------------------------------------------------------------
                        Imagens sem legenda centralizadas nas paginas
------------------------------------------------------------------------------------------*/
article .center {
  display: block;
  margin: auto;
}

/*------------------------------------------------------------------------------------------
             Figuras com legenda a esquerda e a direita do texto
------------------------------------------------------------------------------------------*/
article .left {
  float: left; 
  margin: 0 16px 0 0;
  padding: 2px;
  border: solid 2px black;  
}

article .right { 
  float: right;
  margin: 0 0 0 16px;
  padding: 2px;
  border: solid 2px black;
}

.article-tail {
  position: relative;
  z-index: var(--articletail-zindex);
}


/*------------------------------------------------------------------------------------------
                                 Confugura os rodapes das paginas
------------------------------------------------------------------------------------------*/
footer {
  position: fixed;
  bottom: 0;
  margin: 0;
  width: 100%;
  z-index: var(--footer-zindex);
  background-color: var(--color3);
  color: var(--contrastant-color);
  text-align: center;
}

footer p {
  margin: 4px auto 4px auto;
}

/*------------------------------------------------------------------------------------------
                                 Implementa um tooltiptext
------------------------------------------------------------------------------------------*/
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

 
  /* Position the tooltip */
  position: absolute;
  top: -15px;
  left: 20px;
  z-index: var(--max-zindex);
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}