@charset "UTF-8";

@import "main.css";

:root {
  --event-hover-color:  black;
}

main {
  padding: 0;
}

main h1 {
  text-align: center;
}

/*------------------------------------------------------------------------------------------
                                 Div com todos os eventos
------------------------------------------------------------------------------------------*/
.timeline {
  margin: 0 auto;
  padding: 15px 0;
  background-image: linear-gradient(var(--color2), var(--gradiente-color));
  border-right: solid 2px var(--base-color);
  width: 75%;
}

/*------------------------------------------------------------------------------------------
                          Estilo para os eventos da timeline
------------------------------------------------------------------------------------------*/
.event {
  position: relative;
  padding: 15px 30px;
  background-color: inherit;
  left: 0;
  cursor: url("../img/select.cur"), auto;
}

.event:hover {
  background-color: var(--event-hover-color);
}

/*------------------------------------------------------------------------------------------
                           Estilo das bolinhas dos eventos
------------------------------------------------------------------------------------------*/
.event::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background-color: white;
  border: 2px solid var(--base-color);
  border-radius: 16px;
  z-index: 1;
}

/*------------------------------------------------------------------------------------------
                     A cor da bolinha do 1o e do ultimo evento
------------------------------------------------------------------------------------------*/
.start::after , .finish::after {
  background-color: var(--base-color);
}

/*------------------------------------------------------------------------------------------
                            Tracinho que une o evento a sua bolinha
------------------------------------------------------------------------------------------*/
.event::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background-color: var(--base-color);
  z-index: 1;
}

/*------------------------------------------------------------------------------------------
                                       A data do evento
------------------------------------------------------------------------------------------*/
.date-item {
  position: absolute;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  color: var(--base-color);
  letter-spacing: 1px;
  z-index: 1;
  right: -58px;
}

.year {
  top: calc(50% - 7px);
}

.month {
  top: calc(50% - 24px);
}

.day {
  top: calc(50% - 38px);
}

.month::after , .day::after {
  content: ' de';
}

/*------------------------------------------------------------------------------------------
                          Icone do evento (um emoji)
------------------------------------------------------------------------------------------*/
.event .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  background-color: var(--contrastant-color);
  border: 2px solid var(--base-color);
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  color: var(--base-color);
  z-index: 1;
  right: 56px;
}

/*------------------------------------------------------------------------------------------
                          Configura a div com o resumo do evento
------------------------------------------------------------------------------------------*/
.event .content {
  padding: 30px 90px 30px 30px;
  background-color: var(--contrastant-color);
  position: relative;
  border-radius: 0 500px 500px 0;
}

.event .content h2 { /*Titulo do evento*/
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: normal;
  color: var(--base-color);
}

.float { /*Para uma imagem ilustrativa apresentada no resumo do evento*/
  display: block;
  float: left;
  height: 70px;
  margin-right: 8px;
}

/*------------------------------------------------------------------------------------------
                              Estilo para dispositivos moveis
------------------------------------------------------------------------------------------*/
@media (max-width: 480px) {

  .event .icon {
    display: none;
  }

  .timeline {
    width: 80%;
    margin: 0 20px;
  }

  .event::before {
    width: 25px;
  }

  .event p {
    text-indent: 0;  
  }

  .event .content {
    border-radius: 15px 15px;
    padding: 10px;
    margin: 2px;
  }

}

